asn1crypto==0.24.0
attrs==20.3.0
autopep8==1.5.7
bcrypt==3.2.0
Brlapi==0.6.6
certifi==2018.1.18
cffi==1.14.5
chardet==3.0.4
click==6.7
colorama==0.3.7
command-not-found==0.3
cryptography==3.4.7
defer==1.0.6
distro==1.5.0
docker==5.0.0
dockerpty==0.4.1
docopt==0.6.2
httplib2==0.9.2
idna==2.6
jsonschema==3.2.0
keyring==10.6.0
keyrings.alt==3.0
language-selector==0.1
loguru==0.5.3
louis==3.5.0
netifaces==0.10.4
olefile==0.45.1
onboard==1.4.1
paramiko==2.7.2
pexpect==4.2.1
Pillow==5.1.0
pycairo==1.16.2
pycodestyle==2.7.0
pycparser==2.20
pycrypto==2.6.1
pygobject==3.26.1
PyNaCl==1.4.0
pyrsistent==0.17.3
python-apt===1.6.5-ubuntu0.5-elementary17-ubuntu5.1.7.1
python-dotenv==0.17.1
pyxdg==0.25
PyYAML==3.12
reportlab==3.4.0
requests==2.25.1
requests-unixsocket==0.1.5
screen-resolution-extra==0.0.0
SecretStorage==2.3.1
six==1.11.0
texttable==1.6.3
toml==0.10.2
ubuntu-advantage-tools==27.0
ubuntu-drivers-common==0.0.0
ufw==0.36
urllib3==1.22
websocket-client==0.58.0
xkit==0.0.0
